html, body {
    margin: 0px;
    font-family: "San Fransisco","SF UI Display","SFNS Display",sans-serif;
    background-color: #000;
    font-weight: bold;
    color: #eee;
    font-size: 30px;
}
#fileWrapper{
	transition:all 0.5s ease;
}
#fileWrapper:hover{
	opacity: 1!important;
}

#visualizer_wrapper{
  margin: auto;
  max-width: 800px;
}
.below {
  margin-top: 10px;
}
